Repository h4rml3ss-actual/pi-motivational-video-player: changes, and which pre-commit hooks are due for each by the changed paths.
All: lua-syntax-check, json-schema-validation

lua-syntax-check:
  name: Lua Syntax Check
  entry: tests/test_lua_syntax.sh
  language: system
  pass_filenames: false

json-schema-validation:
  name: JSON Schema Validation
  entry: python
  args:
  - -c
  - import sys, json, jsonschema; schema=json.load(open('docs/config-schema.json')); [jsonschema.validate(json.load(open(f)), schema) for f in sys.argv[1:]]
  language: python
  additional_dependencies:
  - jsonschema

Update Lua syntax check to include all .lua files
  tests/test_lua_syntax.sh
Due: none

Fix Lua syntax check to handle missing .lua files gracefully
  tests/test_lua_syntax.sh
Due: none

Add Python dependency management and runtime fixes
  .kiro/specs/videowall-completion/tasks.md
  README.md
  assets/messages/sample.txt
  core/player.lua
  mpv-config-template.conf
  requirements.txt
  tests/README_INTEGRATION_TESTS.md
  tests/run_tests.py
  tests/test_argument_parsing.py
  tests/test_config_schema.py
  tests/test_configuration_loading.py
  tests/test_filter_integration.py
  tests/test_hud_integration.py
  tests/test_installation_integration.py
  tests/test_message_integration.py
  tests/test_mpv_integration.py
  tests/test_profile_validation.py
  tests/validate_integration_tests.py
  troubleshoot-videowall.sh
Due: lua-syntax-check

Add Python dependency management and runtime fixes
  fix-linting.py
  tests/test_argument_parsing.py
  tests/test_configuration_loading.py
  tests/test_filter_integration.py
Due: none

Implement HUD modules and visual effects system
  .kiro/specs/videowall-completion/tasks.md
  core/player-enhanced.lua
  fix-linting.py
  switch-profile.sh
  tests/test_argument_parsing.py
  tests/test_configuration_loading.py
  tests/test_filter_integration.py
  tests/test_hud_integration.py
  tests/test_installation_integration.py
  tests/test_message_integration.py
  tests/test_mpv_integration.py
  tests/test_profile_validation.py
Due: lua-syntax-check

Simplify HUD system for better reliability
  core/player-simple.lua
Due: lua-syntax-check

Switch to OSD overlay system for HUD display
  core/player-osd.lua
Due: lua-syntax-check

Create mpv 0.29.1 compatible HUD system
  core/player-compatible.lua
Due: lua-syntax-check

Add dramatic visual effects: glitch, VHS distortion, scanlines
  core/player.lua
  presets/cyberpunk_hud.json
  presets/pure_vhs.json
  test-effects.sh
Due: lua-syntax-check, json-schema-validation

Add vibrant VHS effect with enhanced colors
  core/player.lua
  presets/pure_vhs.json
  test-effects.sh
Due: lua-syntax-check, json-schema-validation

Path conditions:
  lua-syntax-check: any of: \.lua$
  json-schema-validation: any of: ^presets/.*\.json$
